

body {

	text-align: center;

	

	}




.board {
		height: 50%; 
		width: 50%;
		display: inline-block;
		

	}


/* Changed card to green	
*/
.card {
		height: 200px;
		width: 150px;
		background-color: #CEFF19;
		border-radius: 10px;
		border: black 1px solid;
		float: left;
		margin: 8%;
		text-align: center;

	}
.name {
		color: #ff0000;
	}

.clearfix:after {
		visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
	}

.Email{
	color: black;
	border-radius: 20px;
	height: 5px;
	background-color: #71FFBC;
}

img {
	height: 200px;
	width: 150px;
}

h1 {
	color: rgb(2, 132, 130);
	text-align: center;
	}

h2 {
	color: #ffd700;
	text-align: center;
	}



p {
	font-family: Impact, Charcoal, sans-serif;
	padding-right: 250px;
	padding-left: 250px;
	
}

nav {
	background-color: #808080;
	}

a {
	color: white;
	background-color: #71FFBC;
	padding: 35px;
	float: right;
	display: block;
	}
a:hover {
	background-color: #ee5f3c;
	}
footer {
	background-color: #808080;
	text-align: center;
	height: 75px;
	}